<header class="menu">
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/gallery">Galeria</a></li>
            <li><a href="/create">Criar Imagem</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Cadastro</a></li>
        </ul>
    </nav>
</header>
